{% extends 'base.html' %}
{% block content %}
        <h2>3. 성적 대상화와 성상품화, 왜 여성만 문제냐고?</h2>
        <h5>written by cutter</h5>        
        <div class = "fakeimg" style = "height: 200px;">Image</div>
        <br><br>
        <pre>
좌-좌! 니네가 어둠의 자식들이냐 ~ 다들 앉아. 수업 시작한다.
저번시간에 불법촬영물까지 나갔지? 오늘은 성적대상화에 대해서 공부할거야
성적대상화란 뭐냐? 인간을 성적쾌락의 도구로 바라보는거고,
성상품화는 성을 하나의 상품으로 취급하는거야 이해되지?
자, 근데 여기서 왜 유독 여성대상화만 문제 삼을까? 남자도 당할 수 있는데 말이야 그치?
밑에 문학작품 두개를 살펴보자. 하나는 '현아'의 베베고, 또 하나는 '빅뱅'의 베베야.
두 작품 모두 화자가 섹스어필을 하고 있지만 확연한 차이가 담겨있어.
가장 큰 차이는 현아의 베베는 '내가' 애기다 라고 말하고 빅뱅의 베베는 '니가' 애기다 라고 말하는 거겠지?
또 현아는 청자에게 나는 소녀다, 나를 예뻐해줘라, 나는 떨린다 라고 말하고 있다면 
빅뱅은 너는 예쁘다. 너는 섹시하다. 너는 계속 예뻐야한다고 말하고 있어. 
이렇게 어떤 섹스 어필이든 결국 초점은 여성의 모습을 비추고 있따~ 이 말이야
똑같은 성 상품화지만 남성은 능동적 주체로서, 여성은 수동적 객체로서 이뤄진다는 거야.
기억해, 오늘은 시간이 다 됐으니까 영상 하나만 보고 끝내자
        </pre>
        <div class="btn-group" role="group">
            <a href="{% url 'csv' %}" role="button" class="btn btn-default btn-sm">pre</a>
            <a href="{% url 'embellishment' %}" role="button" class="btn btn-default btn-sm">next</a>
        </div>
    </div>
{% endblock %}
