{% extends 'base.html' %}
{% block content %}
        <h2>4. 꾸밈은 어떻게 노동이 되었을까</h2>
        <h5>written by cutter</h5>        
        <hr>
        <div class = "fakeimg" style = "height: 200px;">Image</div>
        <br><br>
        <pre>
여남 생애주기 재구성해서 시각적으로 보여주기
(10대 男 PC방, 20대 男 주점, 30대 초반 男 차량유지비, 인터넷쇼핑의 비중 늘고, 30대 후반 男 재테크의 시작, 문화 · 여가생활, 40대 초반 男 건강, 재테크, 40대 후반 男 재테크 비중 증가의 양상을 띕니다.
10대 女 패션잡화, 20대 女 인터넷 쇼핑, 30대 초반 女 영유아 자녀를 위한 인터넷쇼핑과 유아교육, 30대 후반 女 자녀교육, 인터넷쇼핑, 40대 초반 女 자녀교육, 문화 · 여가생활, 40대 후반 女 의료비 지출비중 증가의 양상을 띕니다.)
남성의 소비와 달리 여성의 소비에서는 사회가 무엇을 기대하는지가 명확히 드러납니다. (10대어쩌고 30대어쩌고) 여자는 젊고 예뻐 보여야 하거나, 아이가 생긴 후에는 좋은 엄마여야 하는 정형화된 여성상이 있습니다. 즉, 어떤 소비 경로를 통해서든 정형화된 여성상이라는 종착지에 도착하게 됩니다. 
특히, 아름다움은 연령에 관계없이 요구됩니다. 네이버 쇼핑 트렌드 통계에 의하면 패션의류 검색 통계는 여성이 75%, 남성이 25%였습니다. 여남 공통 패션의류 인기 검색어 또한 원피스, 블라우스, 셀프 웨딩드레스 등 여성복이 차지하였습니다.
저희는 이 ‘아름다움’에 좀 더 집중해 보려 합니다.
‘예뻐지고 싶은 것은 본인의 만족이고, 본능인데 이게 왜 문제냐고 생각하는 분도 계실 겁니다. 아름다워지기 위해 고통도 감수해야 한다는 문화 속에서 여성은 자신을 파괴하며 미를 추구합니다.
예를 들어, ‘각선미’를 위한 하이힐은 착용시 발가락에 온 체중이 가해져 통증을 유발합니다. 때문에, 하이힐을 즐겨 신는 여성들은 발가락이 변형되는 무지외반증에 걸리기도 합니다. 하이힐은 곧 현대판 전족과도 같습니다. 
여성은 육체 뿐만 아니라 정신적으로도 병들게 됩니다. 항상 자신이 뚱뚱하다고 생각하며 자신의 몸에 수치심을 느끼는 ‘바디 쉐이밍’이 그 증상입니다. 이 굴레에 빠진 여성은 자신의 몸을 끝없이 부정하고 고쳐야 할 몸으로 인식하게 됩니다. 이에 대해 예술연구가 이라영은 “몸을 옥죄는 사회의 시선 때문에 여성은 자신을 실제보다 훨씬 더 뚱뚱하게 여긴다”고 말했습니다.

그럼에도 불구하고 여성은 왜 꾸밀 수밖에 없을까요? 여성에게 꾸밈은 일종의 생존 전략이자 노동이기 때문입니다. 여성물화는 여성을 독립적이고 주체적인  인격체로 살 수 없게 만듭니다.  여성은 삶을 유지하기 위해 사회가 규정한 외모와 행동을 내면할 수밖에 없습니다. 과거에 비해 여성이 자유로워졌다고 하지만, 꾸미지 않으면 생존하기 힘든 구조는 변하지 않았습니다. 지금에도 여성은 경쟁력 있는 외모를 갖기 위해 미디어 속 여성과 자신을 끊임없이 비교해야 합니다.
 
평소에 ‘용모 단정’이란 말을 들어본 적이 있을 텐데요. 구인광고와 근무 환경에서 특히 여성의 외모 조건을 더 까다롭게 따지고 있습니다. 예를 들어 CGV 미소지기의 경우 여남 모두 청결하고 구김 없어야 한다는 용모 기준이 있습니다. 하지만 여성 직원에게는 ‘누드 메이크업’과 붉은색 립글로즈를 사용할 것이 추가적으로 요구됩니다. 꾸밈이 진정으로 ‘노동’이 되었다는 걸 알 수 있습니다.

꾸밈 노동이 어린아이들에게 그대로 이어진다는 점도 심각한 문제입니다.  최근 키즈 유튜버들이 화장하는 영상이나 키즈 뷰티 살롱을 체험하는 영상이 아이들 사이에서 인기를 끌고 있다고 합니다. 소위 '성인 여성'처럼 꾸민 아이는, 마치 성인처럼 성적 자기 결정권 행사가 가능하다고 여기는 사회적 분위기가 형성되기 때문입니다. 결국 성인 여성 처럼 꾸민 아이는 성적대상화에 노출 될 위험이 커집니다. 아이들에 대한 성적대상화를 큰 문제 삼지 않는 사회적 분위기는 용인될 수 없는 소아성애 성향을 '로리'라는 이름으로 양지로 끌어올렸습니다. 이처럼 미성년자 성적 대상화를 너그럽게 여기는 경향은 소아성범죄를 둔감하게 만들 위험이 있습니다.

극단적인 예시로, 지난 10월 영유아를 성폭행한 영상을 공유하던 사이트가 수면 위로 떠올랐습니다. 해당 사이트는 손종우라는 한국인이 운영하고 있던 것으로 밝혀졌습니다.  이 ‘W모’라는 사이트는 일반적인 검색엔진이나 브라우저를 통해서는 접근할 수 없는 다크웹으로  32개국, 128만명의 회원을 보유한 세계 최대 규모의 '아동성착취' 사이트였습니다. 사이트에 업로드 된 약 25만건의 영상물 중 45%가 직접 제작한 영상이었습니다.

결국, 사회가 만든 외모 강박은 개인의 신체 및 정신을 해칠 뿐만 아니라 아동의 성적 대상화를 부추기는 사회문제로도 이어집니다. 꾸밈 노동을 청소년, 어린이, 심지어 유아들이 답습하며 이러한 문제는 점점 더 어린 세대로 내려갑니다.

        </pre>
        <div class="btn-group" role="group">
            <a href="{% url 'conner' %}" role="button" class="btn btn-default btn-sm">pre</a>
            <a href="{% url 'manbox' %}" role="button" class="btn btn-default btn-sm">next</a>
        </div>
    </div>
{% endblock %}
