{% extends 'base.html' %}
{% block content %}
{% load static %}
        <h2>We are CUTTER</h2>
        <P>2019 정보사회미디어학과 제 1회 학술제 CONNECTION Project team 4</P>
        <hr>
        <img src="{% static 'teamprofile.jpg' %}" class="img-responsive center-block" alt="Responsive image">
        <br><br>
        <pre style="text-align: center;">
<h4>"여성은 인간이다."</h4>
너무 당연한 말 아니냐고요? 현실은 당연하지 않습니다.
때로는 꽃으로, 때로는 구멍으로. 여성은 사회 속에서 인간이기보다는 물건이 됩니다.
우리는 여성을 물건으로 만드는 여성물화에 대해 이야기하고자 합니다.
여성물화의 고리를 끊는 커터의 여정에 함께하시겠습니까?
        </pre>
    </div>
{% endblock %}